<header>
  <section class="banner">
    <p>
      <img alt="inlinedb" src="https://raw.githubusercontent.com/inlinedb/inlinedb-icons/master/idb.png">
    </p>

    <h1>
      InlineDB
    </h1>

    <p>
      <a href="https://www.npmjs.com/package/inlinedb"><img src="https://img.shields.io/npm/v/inlinedb.svg"></a>
      <a href="https://www.npmjs.com/package/inlinedb"><img src="https://img.shields.io/npm/dm/inlinedb.svg"></a>
    </p>

    <p>
      <a href="https://travis-ci.org/inlinedb/inlinedb"><img src="https://img.shields.io/travis/inlinedb/inlinedb.svg?label=units"></a>
      <a href="https://travis-ci.org/inlinedb/inlinedb-e2e"><img src="https://img.shields.io/travis/inlinedb/inlinedb-e2e.svg?label=e2e"></a>
      <a href='https://coveralls.io/github/inlinedb/inlinedb?branch=master'><img src='https://coveralls.io/repos/github/inlinedb/inlinedb/badge.svg?branch=master' alt='Coverage Status'/></a>
    </p>
  </section>

  <article>
    InlineDB is a portable JSON and file system based database. It is designed to work with node applications that
    require a simple database to store and maintain data. For example, one could store settings for an app, store
    user profiles and high scores for a game, an electron app that want to cache various data objects, or hook up with
    expressjs to serve a todo app.
  </article>

  <article>
    Explore the <a href="#api">API</a> to find more about InlineDB. Since it is a "lite" database, it has some limitations.
    View the <a href="#limitaions">limitations</a> section for more information.
  </article>
</header>
