@mixin intro {
  #intro {
    .banner {
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      padding: 50px;
      margin-bottom: 50px;
      text-align: center;
    }

    article {
      font-size: 1.25em;
      margin-bottom: 50px;
      text-align: center;
    }
  }
}
