@import '~prismjs/themes/prism-okaidia';
@import 'components/header';
@import 'components/navigation';
@import 'sections';

$background: #e2e1e0;
$gutter: 25px;
$header-height: 70px;
$red: #c80005;

@mixin center-it {
  width: 95%;
  max-width: 900px;
  margin: auto;
}

* {
  box-sizing: border-box;
}

html,
body {
  background: $background;
  font-family: sans-serif;
  font-size: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: $red;
}

main#content {
  @include center-it;
}

pre {
  padding: 10px;
  border-radius: 2px;
  background-color: #333;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@include header;
@include navigation;
@include sections;
