@mixin sections {
  .docs-section {
    padding-top: $nav-height;

    h1, h2, h3, p {
      margin: 0;
      padding: 0;
    }

    h1 {
      border-bottom: 1px solid darken($background, 5);
      margin-bottom: $gutter;
    }

    h2 {
      font-size: 1.35em;
      margin-bottom: $gutter;
      padding-top: $nav-height;
    }

    h4 {
      margin-top: $gutter;
      margin-bottom: 10px;
    }

    li a {
      text-decoration: underline;
    }

    ul {
      margin: 10px 0;

      li {
        line-height: 1.5em;
      }

      ul {
        margin: 0;
      }
    }

    table, td, th {
      margin-bottom: $gutter;
      border: 1px solid darken($background, 10);
      padding: 10px;
      border-collapse: collapse;
    }

    pre {
      margin-bottom: $gutter;
    }

    .link-to-top {
      float: right;
      margin-top: $gutter;
    }

    > p {
      line-height: 1.5em;
    }
  }
}
